= simple_form_for @library do |f|
  = f.input :name
  = f.input :location
  = f.button :submit, 'Create Library', class: 'btn btn-sm btn-success'
  = link_to 'Back', libraries_path, class: 'btn btn-sm btn-dark'