!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LibrarySystem
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      .container
        .row.mt-4.mb-4
          .col-11
          .col-1
            =link_to 'Sign_out', destroy_user_session_path, method: :delete, class:'btn btn-primary'
    .container 
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
    = yield
